<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Discussionpages</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	
	<body>
		<%- include('../partials/navbar') %>
		<section>
			<h1 style="text-align: center;">Results</h1>
			<div id="center-content">
				<% results.forEach(function(result) { %>
					<a href= <%= result.link %> style="text-decoration: none; color: black;">
						<div class="inline">
							<div class="boxpages">
								<div class="imbox">
									<div class="NomThread">
										<h3><%= result.name %></h3>
									</div>
									<div class="Description">
										<P><%= result.description %></P>
									</div>
								</div>
							</div>
						</div>
					</a>
				<% }); %>
			</div>
		</section>

		<%- include('../partials/footer') %>
	</body>